*{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
}
header{
    width:100%;
    height:60px;
    background-color:#000;
    display:flex;
    position:fixed;
    z-index:9999;
    top: -10px;
    padding:20px;
}





.aside{
    color: orangered;
}
.foot{
    color: orangered;
}
.markup{
    color: #fff;
}
.bigi{
    width: 50px;
    height: 50px;
    border:10px solid orange;
    border-radius: 50px;
    margin-top:10px;
}

.post{
    padding: 5px 20px;
    background: rgba(255,255,255,0.10);
    color: whitesmoke;
    border-radius: 10px;
    position: relative;
    top:2px;
    border:none;
    font-size: 1rem;
    cursor: pointer;
}

li{
    list-style: none;
}

.container-fluid{
    background:#333;
    text-transform: uppercase;
}

h1{
    text-align: center;
    
}

h3{
    margin: 5px;
}

.skill{
    
    margin: 60px auto;
    color:#fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.25);

}

.skill li{
    margin: 20px 0;
    padding: 20px;
}

.bar{
    background:#353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(25,.8,1);
    
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.25);

}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
}

.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 70%;
    animation: html 3s;
}

.bootstrap{
    width: 60%;
    animation: html 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }   
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }

}@keyframes bootstrap{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}


.back-alt{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7d2ae8;
}

.wrapper{
    margin: 150px auto;
    width:70%;
   
}

.text-box{
    color: #fff;
    margin-top: 80px;
}

.text-box h1{
    font-size: 42x;
}

.text-box p{
    font-size: 16px;
}

.main-btn{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    border: 1px solid salmon;
    border-radius: 10px;
    background-color: salmon;
    

}
.main-btn:hover{
    background-color: #fff;
    color: red;
}

.pos-cen{
    max-width:600px;
    margin:0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.24);
}
.pos-cen p{
    line-height:1.4;
}
.pos-cen::after{
    content:"";
    display: block;
    clear: both;
}
.img-books{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    shape-outside: margin-box;
    margin:0 20px 5px 0;
}
p{
    font-size: 11px;
    font-weight: 14px;
}